/* About.css */

.about-container {
  background-color:  #5A5A5A; /* Sienna background */
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  margin: 20px auto;
  max-width: 800px; /* Restrict content width for readability */
  color: #fff; /* Set text color to white for better contrast */
}

.letter-o {
  animation: spin 1.5s infinite ease-in-out;
  display: inline-block;
  color: #FFD700;
}
.letter-o {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Starting position */
  }
  100% {
    transform: rotate(360deg); /* Full rotation */
  }
}
.about-title {
  font-size: 2.5rem;
  color: #FFD700; /* Golden yellow for the title */
  margin-bottom: 20px;
  font-weight: bold;
}

.about-description {
  font-size: 1.2rem;
  color: #fff; /* White color for the text */
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px; /* Add padding to prevent text from touching edges */
}
