/* Navbar Styles */
.navbar {
  position: fixed; /* Fixed to stay at the top */
  top: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
 
}

/* Toggle Button */
.toggle-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

/* Navigation Links */
.nav-links {
  position: absolute;
  top: 3rem;
  right: 1rem;
  background: transparent;
  padding: 1rem;
  display: none;
  border-radius: 8px;
}

/* Show menu when toggled */
.nav-links.open {
  display: block;
}

/* Navigation Link Styles */
.nav-links li {
  list-style: none;
  margin: 0.5rem 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a.active {
  font-weight: bold;
  color: #FFD700;
}
